{% extends 'base.html.twig' %}

{% block title %}Un site responsive{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/portfolio/responsive.css') }}">
  <link rel="stylesheet" href="{{ asset('css/portfolio/slideshow.css') }}">
  <link rel="stylesheet" href="{{ asset('css/portfolio/modal.css') }}">
{% endblock %}

{% block main %}
  <h1>Un site responsive</h1>
  LIEN-VERS-GIT
  <p>
    Les supports étant de plus en plus variés (ordinateurs de bureau, tablettes, smartphone, télévision…), il est important d'offrir aux utilisateurs une interface de consultation adéquate peu importe ce dernier. C'était un exercice visant à adapter l'affichage des articles d'un blog via un framework CSS, ici : Bootstrap.
    Bien sur il existe bien d'autre framework tel que Bulma ou encore Semantic UI, mais l'important ici fut de comprendre le fonctionnement des medias queries, à s'éxercer à utiliser un outil développé par d'autres personnes et à lire leur documentation.
  </p>

  <h2>Objectifs</h2>
  <ul>
    <li>S'initier aux medias queries</li>
    <li>Utiliser un framework</li>
    <li>S'entrainer à lire une documentation</li>
    <li>Penser l'affichage d'un contenu selon le support</li>
  </ul>

  <h2>Résultat</h2>
  <div id="resultImg" class="row">
    <div class="col-12">

      <!-- The dots/circles -->
      <div id="slideshowNavigation">
        <!-- Next and previous buttons -->
        <div class="slideshowArrow">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        </div>
        <div id="slideshowDots">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <div class="slideshowArrow">
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </div>

      <!-- Slideshow container -->
      <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides">
          <div class="text">Affichage sur un mobile</div>
          <img class="result-screenshot small" src="{{ asset('img/portfolio/responsive/responsive_small.png') }}" alt="Capture d'écran de la page web sur un mobile">
        </div>

        <div class="mySlides">
          <div class="text">Affichage sur une tablette</div>
          <img class="result-screenshot medium" src="{{ asset('img/portfolio/responsive/responsive_medium.png') }}" alt="Capture d'écran de la page web sur une tablette">
        </div>

        <div class="mySlides">
          <div class="text">Affichage sur un écran large</div>
          <img class="result-screenshot wide" src="{{ asset('img/portfolio/responsive/responsive_wide.png') }}" alt="Capture d'écran de la page web sur un écran large">
        </div>

      </div>

      <div id="resultScreenshotModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content">
        <div id="caption"></div>
      </div>

    </div>
  </div>

  {% block javascripts %}
    <script src="{{ asset('js/portfolio/slideshow.js') }}"></script>
    <script src="{{ asset('js/portfolio/modal.js') }}"></script>
  {% endblock %}
{% endblock main %}
