{% extends 'base.html.twig' %}

{% block title %}Un site responsive{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/portfolio/responsive.css') }}">
  <link rel="stylesheet" href="{{ asset('css/portfolio/slideshow.css') }}">
  <link rel="stylesheet" href="{{ asset('css/portfolio/modal.css') }}">
{% endblock %}

{% block main %}
  <h1>Un site web adaptatif</h1>
  LIEN-VERS-GIT
  <p>
    Les supports étant de plus en plus variés (ordinateurs de bureau, tablettes, smartphone, télévision...), il est important d'offrir aux utilisateurs une interface de consultation adéquate peu importe ce dernier. C'était un exercice visant à adapter l'affichage des articles d'un blog via un framework <abbr title="Cascading Style Sheets">CSS</abbr>, ici : <a href="https://getbootstrap.com/">Bootstrap</a>.
    Bien sûr il existe bien d'autres framework tel que <a href="https://bulma.io/">Bulma</a> ou encore <a href="https://semantic-ui.com/">Semantic UI</a>, mais l'important ici fut de comprendre le fonctionnement des medias queries, à s'exercer à utiliser un outil développé par d'autres personnes et à lire leur documentation.
  </p>

  <h2>Objectifs</h2>
  <ul>
    <li>S'initier aux medias queries</li>
    <li>Respecter le concept du mobile first</li>
    <li>Utiliser un framework</li>
    <li>S'entrainer à lire une documentation</li>
    <li>Penser l'affichage d'un contenu selon le support</li>
  </ul>

  <h2>Résultat</h2>
  <div id="resultImg" class="row">
    <div class="col-12">

      <!-- The dots/circles -->
      <div id="slideshowNavigation">
        <!-- Next and previous buttons -->
        <div class="slideshowArrow">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        </div>
        <div id="slideshowDots">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <div class="slideshowArrow">
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </div>

      <!-- Slideshow container -->
      <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <figure class="mySlides">
          <figcaption class="text">Affichage sur un mobile</figcaption>
          <img class="result-screenshot small" src="{{ asset('img/portfolio/responsive/responsive_small_lowres.jpg') }}" alt="Capture d'écran de la page web sur un mobile">
        </figure>

        <figure class="mySlides">
          <figcaption class="text">Affichage sur une tablette</figcaption>
          <img class="result-screenshot medium" src="{{ asset('img/portfolio/responsive/responsive_medium_lowres.jpg') }}" alt="Capture d'écran de la page web sur une tablette">
        </figure>

        <figure class="mySlides">
          <figcaption class="text">Affichage sur un écran large</figcaption>
          <img class="result-screenshot wide" src="{{ asset('img/portfolio/responsive/responsive_wide_lowres.jpg') }}" alt="Capture d'écran de la page web sur un écran large">
        </figure>

      </div>

      <figure id="resultScreenshotModal" class="modal">
        <span class="close">&times;</span>
        <figcaption id="caption"></figcaption>
        <img class="modal-content">
      </figure>

    </div>
  </div>

  {% block javascripts %}
    <script src="{{ asset('js/portfolio/slideshow.js') }}"></script>
    <script src="{{ asset('js/portfolio/modal.js') }}"></script>
  {% endblock %}
{% endblock main %}
