{% extends 'base.html.twig' %}

{% block title %}Les rich snippets{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/portfolio/modal.css') }}">
  <link rel="stylesheet" href="{{ asset('css/portfolio/rich-snippet.css') }}">
{% endblock %}

{% block main %}
  <div id="portfolioTitle">
    <h1>Les rich snippets</h1>
    <a href="https://github.com/GuillaumeD84/Portfolio_Rich-snippets" title="Consulter le code source sur GitHub" target="_blank">Dépôt GitHub</a>
  </div>

  <p>
    Avoir un site web beau et fonctionnel pour y proposer ses produits et ses services c'est bien, mais s'il n'est pas visible auprès du grand publique, l'argent et les efforts qui y ont été consacré pourrait savérer infructueux. Il est donc important de savoir améliorer la visibilité de son site dans les moteurs de recherche.
    Le sujet étant très vaste et complexe, nous nous étions penchés ce jour là sur un exercice visant à l'utilisation des métadonnées avec les microdata/JSON-LD pour obtenir sur Google un produit "<a href="https://developers.google.com/search/docs/data-types/product" title="Documentation de Google concernant les rich snippets" target="_blank">Rich snippet</a>". Lors d'une recherche sur le moteur de Google, elles permettront d'enrichir les résultats sur nos produits de détails les concernants comme le prix, la disponibilité, la description ou encore la notation.
  </p>

  <h2>Objectifs</h2>
  <ul>
    <li>Initiation à la SEO</li>
    <li>Créer un produit rich snippet</li>
  </ul>

  <h2>Résultat</h2>
  <p>Voici la page du produit utilisé pour notre exercice :</p>
  <img id="screenshotHome" class="result-screenshot" src="{{ asset('img/portfolio/rich_snippets/rich-snippet_home.jpg') }}" alt="Capture d'écran de la page d'un produit">

  <p>Après y avoir inséré les microdata, <a href="https://search.google.com/structured-data/testing-tool" title="Consulter l'outil de test des données structurées de Google" target="_blank">l'outil de test de Google</a> nous permet de corriger les potentielles erreurs et d'avoir un aperçu de ce que donnerai notre produit dans les résultats d'une recherche.</p>
  <div id="testingToolDiv">
    <img id="screenshotTestingToolCode" class="result-screenshot" src="{{ asset('img/portfolio/rich_snippets/rich-snippet_testing-tool_code.jpg') }}" alt="Capture d'écran de l'outil de test de Google sur les microdata (code HTML)"><!--
    --><img id="screenshotTestingToolResult" class="result-screenshot" src="{{ asset('img/portfolio/rich_snippets/rich-snippet_testing-tool_result.jpg') }}" alt="Capture d'écran de l'outil de test de Google sur les microdata (résultat)">
  </div>

  <div id="resultPreviewDiv">
    <p>Et voici ce que donnerai notre produit dans les résultats d'une recherche</p>
    <div>
      <img id="screenshotTestingToolPreview" class="result-screenshot" src="{{ asset('img/portfolio/rich_snippets/rich-snippet_preview.jpg') }}" alt="Prévisualisation du produit dans les résultats d'une recherche sur Google">
    </div>
  </div>

  <div id="resultImg" class="row">
    <div class="col-12">

      <figure id="resultScreenshotModal" class="modal">
        <span class="close">&times;</span>
        <figcaption id="caption"></figcaption>
        <img class="modal-content">
      </figure>

    </div>
  </div>

  {% block javascripts %}
    <script src="{{ asset('js/portfolio/modal.js') }}"></script>
  {% endblock %}
{% endblock main %}
