{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/portfolio/modal.css') }}">
  <link rel="stylesheet" href="{{ asset('css/portfolio/todolist.css') }}">
{% endblock %}

{% block main %}
  <div id="portfolioTitle">
    <h1>Une todo list</h1>
    <a href="https://github.com/GuillaumeD84/Projet_S6_Todo-list" title="Consulter le code source sur GitHub" target="_blank">Dépôt GitHub</a>
  </div>

  <p>
    Comme tout bon développeur PHP le sait, les <a href="http://php.net/manual/fr/language.variables.superglobals.php" title="Visiter la page sur les superglobales sur le site de PHP" target="_blank">superglobales</a> sont essentielles et il est donc important de savoir les manipuler. Dans cet exercice nous nous sommes servis des suivantes : $_GET, $_POST et $_SESSION, pour la création d'une todolist.
    Cette liste contient par défaut plusieurs tâches et chacunes d'entre elle possède :
    <ul>
      <li>Une couleur</li>
      <li>Une catégorie</li>
      <li>Un état (todo ou completed)</li>
    </ul>
    Il est également possible de modifier ces informations, de créer de nouvelles tâches, de les filtrer ou encore de les supprimer grâce aux superglobales $_GET et $_POST. La variable $_SESSION quand à elle a été utilisé pour stocker ces changements/ajouts.
  </p>

  <h2>Objectifs</h2>
  <ul>
    <li>Exploiter les variables $_GET, $_POST et $_SESSION</li>
    <li>Manipuler des données</li>
    <li>Stocker et exploiter des données en session</li>
  </ul>

  <h2>Résultat</h2>
  <p>Voici un aperçu de la page d'acceuil de l'application. On y retrouve toutes les tâches, qu'elles soient terminées ou non, deux boutons permettant d'afficher uniquement celles validées/non validées, ainsi que deux autres boutons, l'un permettant d'afficher une fenêtre de filtres (catégories et couleurs) et le second pour valider le filtrage.</p>
  <p>Pour chacune d'entre elle il est également possible de les valider/annuler, d'éditer leur catégorie/leur couleur, leur nom ainsi que de les supprimer.</p>
  <div class="screenshotDiv">
    <img id="screenshotHome" class="result-screenshot" src="{{ asset('img/portfolio/todolist/todolist_home.jpg') }}" alt="Capture d'écran de la page d'acceuil de la todolist">
  </div>

  <p>Grâce au paramètre $_GET de l'URL, dans cet exemple : <strong>?finish=no</strong>, seule les tâches en cours sont affichées.</p>
  <div class="screenshotDiv">
    <img id="screenshotHome" class="result-screenshot" src="{{ asset('img/portfolio/todolist/todolist_todo.jpg') }}" alt="Capture d'écran de la page d'acceuil de la todolist">
  </div>

  <p>Les filtres, passés égalements en paramètre de l'url, permettent d'affiner la liste.</p>
  <div class="screenshotDiv">
    <img id="screenshotHome" class="result-screenshot" src="{{ asset('img/portfolio/todolist/todolist_filters.jpg') }}" alt="Capture d'écran de la page d'acceuil de la todolist">
  </div>

  <div id="resultImg" class="row">
    <div class="col-12">

      <figure id="resultScreenshotModal" class="modal">
        <span class="close">&times;</span>
        <figcaption id="caption"></figcaption>
        <img class="modal-content">
      </figure>

    </div>
  </div>

  {% block javascripts %}
    <script src="{{ asset('js/portfolio/modal.js') }}"></script>
  {% endblock %}
{% endblock main %}
