<aside id="nav" class="col-12 col-md-4 col-xl-3">
    <div id="nav-top">
        <a href="{{ path('homepage') }}">
            <img id="profilPic" src="{{ asset('img/default-profil.jpg') }}" alt="photo de profil de guillaume durand">
        </a>
        <h1 id="name">Guillaume DURAND</h1>
        <h2 id="title">Développeur Web</h2>
        <h2 id="subtitle">Symfony</h2>

        <div class="d-none d-md-block">
            {% include 'partials/_social_links.html.twig' %}
        </div>
    </div>


    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('favicon.ico') }}" class="d-inline-block align-top" alt="">
        </a>
        {% include 'partials/_social_links.html.twig' %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">&#9776;</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('skills') }}">Mes compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('formation') }}">Ma formation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('portfolio') }}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('aboutme') }}">A propos de moi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('curriculum') }}">Obtenir mon CV</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="navLinks">
        <ul id="pageLinks" class="links">
            <li>
                <a href="{{ path('skills') }}">Mes compétences</a>
            </li>
            <li>
                <a href="{{ path('formation') }}">Ma formation</a>
            </li>
            <li>
                <a href="{{ path('portfolio') }}">Portfolio</a>
            </li>
            <li>
                <a href="{{ path('aboutme') }}">A propos de moi</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">Contact</a>
            </li>
            <li>
                <a href="{{ path('curriculum') }}" target="_blank">Obtenir mon CV</a>
            </li>
        </ul>
    </div>
</aside>
