{% for project in projects %}
  <div class="project" data-project-name="{{ project.name }}">
    <h2>{{ project.name }}</h2>
    <div class="categories">
      {% for cat in project.cat %}
        <span class="category">{{ cat|upper }}</span>
      {% endfor %}
    </div>
    <img src="https://picsum.photos/30{{ loop.index0 }}/200/?random" alt="">
    <p>{{ project.desc }}</p>
    <button type="button" class="more-details" name="button">Plus de détails</button>
    <span class="end"></span>
  </div>
{% endfor %}
